body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    background-color: aliceblue;
}

form {
    width: 300px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: darkblue;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
}

th,
td {
    border: 1px solid black;
    padding: 15px;
}

th {
    background-color: black;
    color: white;
}

table {
    margin-top: 20px;
    width: 85%;
    border-collapse: collapse;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.flash {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: #ffcccc;
    color: red;
    border: 1px solid red;
}
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px; /* Space for the icon */
    margin-bottom: 10px;
}

.password-wrapper button {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    width: auto;
    padding: 0;
    color: black; /* Ensure visibility */
    margin-bottom: 0; /* Override your general button margin */
}