<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Dashboard</title>
</head>
<script src="{{ url_for('static', filename='JS/script.js') }}"></script>
<body>
<h1>Dashboard</h1>
<a href="{{ url_for('logout') }}" class="btn" onclick="return confirm('Are you sure you want to logout?')">Logout</a>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="flash {{ category }}">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form action="{{ url_for('add_password') }}" method="post">
    <input type="text" name="website" placeholder="Enter website name" value="{{ website_name or '' }}"><br>
    <input type="text" name="email_or_username" placeholder="Enter email or username"
           value="{{ email_or_username or '' }}"><br>
    <!-- Added wrapper and toggle button -->
    <div class="password-wrapper">
        <input type="password" class="password" name="password" placeholder="Enter password"
               value="{{ password or '' }}">
        <button type="button" class="toggle-input-password">👁</button>
    </div>
    <button type="button" onclick="generatePassword()">Generate Password</button>
    <button type="submit">Add Password</button>
    <br>
</form>
{% if passwords %}
{% for website, password in passwords.items() %}
<div class="entry-grid">
    <a href="{{ url_for('password_view', website_name=website)}}" class="entry-card">
        <div class="entry-icon"></div>
        <div class="entry-info">
            <h3>{{ website }} ({{ password|length }})</h3>
        </div>
        <span class="entry-arrow">&rarr;</span>
    </a>
</div>

{% endfor %}

{% endif %}

</body>
</html>