<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Forget Password</title>
</head>
<body>
<h1>Forget Password</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="flash {{ category }}">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form action="{{ url_for('forget_password') }}" method="post">
    <input type="text" placeholder="Enter email" name="email">
    <button type="submit">Submit</button>
</form>

</body>
</html>