<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Password Manager</title>
</head>

<body>
<h1>Password Manager</h1>
<p>Don't need to remember passwords. Your personal password manager to store passwords.</p>
<a href="{{url_for('register')}}" class="btn">Get Started</a>
<a href="{{url_for('login')}}" class="btn">Login</a>

</body>

</html>