<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Login</title>
</head>
<script src="{{ url_for('static', filename='JS/script.js') }}"></script>
<body>
<h1>Login</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="flash {{ category }}">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<form action="{{ url_for('login') }}" method="post">
    <input type="email" placeholder="Enter email" name="email" value="{{ email or '' }}"><br>

    <!-- Added wrapper and toggle button -->
    <div class="password-wrapper">
        <input type="password" class="password" name="password" placeholder="Enter password">
        <button type="button" class="toggle-input-password">👁</button>
    </div>

    <button type="submit">Submit</button>
    <br>
    <a href="{{ url_for('register') }}">Don't have an account? Register here</a>
</form>

</body>

</html>