<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <script src="{{ url_for('static', filename='JS/script.js') }}" defer></script>

    <title>{{ website_name }}</title>
</head>
<body>

<a href="{{ url_for('dashboard') }}" class="btn back-btn">
    ← Dashboard
</a>

<h1>{{ website_name }}</h1>
{% for password in passwords %}
<div class="view-card">

    <div class="view-row">
        <label>Username / Email</label>

        <div class="view-value">

            <span id="username">
                {{ password.email_or_username }}
            </span>

            <button
                    class="icon-btn copy-btn"
                    data-copy="{{ password.email_or_username }}"
                    title="Copy">

                📋

            </button>

        </div>
    </div>

    <div class="view-row">

        <label>Password</label>

        <div class="view-value">

        <span
                class="password-text"
                data-password-id="{{ password.id }}">
            ••••••••
        </span>

            <button
                    type="button"
                    class="icon-btn toggle-view-password"
                    title="Show Password">
                👁
            </button>

            <button
                    type="button"
                    class="icon-btn copy-password-btn"
                    data-password-id="{{ password.id }}"
                    title="Copy">
                📋
            </button>

        </div>

    </div>

</div>

<a class="btn-danger" href="{{ url_for('delete_password', password_id=password.id) }}"
   onclick="return confirm('Delete this password?')">Delete</a>

{% endfor %}
</body>
</html>